---
layout: default
title: Arjan van der Gaag
type: plain
---
<h1>Blog archives</h1>
{% if site.posts == empty %}
<p class="meta">There are no posts yet. Please check back later. Return to the <a href="/" title="Go back to the start of this website" rel="home">home page</a>.</p>
{% else %}
<p>There are currently {{ site.posts.size }} posts listed below. The most recent stuff can also be found on the <a href="/" title="Go back to the start of this website" rel="home">home page</a>.</p>

<ol class="posts">
    {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{post.title}}</a> <small class="dim">in {{ post.categories | array_to_sentence_string }}</small></li>
    {% endfor %}
</ol>
{% endif %}