#!/usr/bin/env ruby

passthrough '/assets/*'

compile '/styles/' do
  # nothing
end

compile '/impostor-syndrome' do
  filter :typogruby
  layout 'landing'
end

compile '/about' do
  filter :typogruby
  layout 'landing'
end

compile '/blog/*' do
  filter :kramdown,
    auto_ids: false,
    syntax_highlighter: 'rouge'
  filter :typogruby
  layout 'post'
  layout 'default'
end

compile '/feed/' do
  filter :erb
end

compile '/projects/' do
  filter :kramdown,
    auto_ids: false,
    syntax_highlighter_opts: {
      css: :class,
      line_numbers: false,
      tab_width: 2
    }
  filter :typogruby
  layout 'default'
end

compile '*' do
  unless item.binary?
    filter :erb
    layout 'default'
  end
end

route '/styles/' do
  '/styles.css'
end

route '/' do
  '/index.html'
end

route '/blog/*' do
  item.identifier.chop + '.html'
end

route '*' do
  extension = item[:extension]
  extension = 'html' if extension == 'md'
  item.identifier.chop + '.' + extension
end

layout '*', :erb
