<article>
  <div class="masthead">
    <img src="http://arjanvandergaag.nl/images/avatar.png" alt="Arjan van der Gaag" width="128" height="128" class="portrait">
    <h1>I am Arjan van&nbsp;der&nbsp;Gaag.</h1>
    <p class="leader">I'm a dad, historian, software developer, agile and holacracy evangelist, speaker, and all-round geek. I write about some of that stuff here. You can also find me on <a href="https://github.com/avdgaag" rel="external">Github</a>, <a href="http://nl.linkedin.com/in/avdgaag/en" rel="external">LinkedIn</a> or <a href="http://twitter.com/avdgaag" rel="external">Twitter</a>. I work at <a href="http://brightin.nl" rel="external">Brightin</a>.</p>
  </div>
  <h2>Talks and slides</h2>
  <ol>
    <li><a href="https://speakerdeck.com/avdgaag/hanami-because-sometimes-you-need-to-re-invent-the-wheel" title="">Hanami: because sometimes, you need to re-invent the wheel</a><br>talk at Utrecht Ruby user group</li>
    <li><a href="https://speakerdeck.com/avdgaag/web-development-that-hurts-even-less-taking-lessons-from-rails" title="">Web development that hurts even less: taking lessons from Rails</a><br>talk at DomCode 2015 (<a href="https://www.youtube.com/watch?v=MGPnkZsthCI&list=PL2CYqew9GBOy2yQnSFFsUgzJzkNSMaD3c&index=7">video</a>)</li>
    <li><a href="https://speakerdeck.com/avdgaag/ruby-acting-up-a-look-at-how-celluloid-implements-the-actor-model-for-concurrency-in-ruby" title="">Ruby Acting up: How Celluloid implements the actor model</a></li>
    <li><a href="https://speakerdeck.com/avdgaag/ecto-a-database-wrapper-and-language-integrated-query-for-elixir" title="">Ecto: a database wrapper and language integrated query for Elixir</a></li>
    <li><a href="https://speakerdeck.com/avdgaag/using-awk-an-old-school-text-processing-tool-with-surprising-versatility" title="">Using Awk: and old school text processing tool with surprising versatility</a></li>
    <li><a href="https://speakerdeck.com/avdgaag/lotus-because-sometimes-you-need-to-reinvent-the-wheel" title="">Lotus: because sometimes you need to reinvent the wheel</a></li>
    <li><a href="https://speakerdeck.com/avdgaag/mikado-method-a-structured-method-for-significant-changes-in-complex-code" title="">Mikado Method: a structured method for significant changes in complex code</a></li>
    <li><a href="https://speakerdeck.com/avdgaag/beat-impostor-syndrome" title="">Beat Impostor Syndrome</a><br>talk at the ArrrrCamp 2014 conference on dealing with impostor syndrome as a software developer (<a href="https://www.youtube.com/watch?v=wKz7mOZ4P-A">video</a>)</li>
    <li><a href="https://speakerdeck.com/avdgaag/getting-started-with-ruby" title="">Getting started with ruby</a><br>Lightning talk on the ruby program and some of its options.</li>
    <li><a href="https://speakerdeck.com/avdgaag/say-hello-to-elixir" title="">Say Hello to Elixir</a><br>talk I gave at The Guild about Elixir and learning from functional programming.</li>
  </ol>
  <h2>Articles</h2>
  <ol>
    <% @pages.sort_by(&:created_at).reverse.each do |page| %>
      <li><a href="<%= page.url %>"><%= page.title %></a></li>
    <% end %>
  </ol>
  <header>
    <div class="cols">
      <div class="col">
        <h4>Arjan van der Gaag</h4>
        <p>A thirtysomething software developer, historian and all-round geek. This is his blog about Ruby, Rails, Javascript, Git, CSS, software and the web.</p>
      </div>
      <div class="col">
        <h4>Discuss</h4>
        <p>You cannot leave comments on my site, but you can always tweet questions or comments at me: @avdgaag.</p>
      </div>
    </div>
  </header>
</article>
