@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    src: local('ClearSans'), local('Clear Sans'),
         url('assets/fonts/ClearSans-Regular-webfont.eot'),
         url('assets/fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/ClearSans-Regular-webfont.woff') format('woff'),
         url('assets/fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/ClearSans-Regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 700;
    src: local('ClearSans-Bold'), local('Clear Sans Bold'),
         url('assets/fonts/ClearSans-Bold-webfont.eot'),
         url('assets/fonts/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/ClearSans-Bold-webfont.woff') format('woff'),
         url('assets/fonts/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('assets/fonts/ClearSans-Bold-webfont.svg') format('svg');
}


html, body {
  margin: 0;
}

body {
  font: 18px/26px Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  color: #444;
}

footer[role=contentinfo],
aside[role=complementary] p,
a.title,
section[role=main] {
  max-width: 750px;
  margin: 0 auto;
}

header[role=banner] {
  background-color: rgb(0, 113, 188);
  padding: 12px;
  border-bottom: 1px solid hsl(204, 100%, 30%);
}

a.title {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-family: 'Clear Sans', Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

a.title,
a.title:visited {
  color: hsl(204, 50%, 80%);
}

a.title:hover,
a.title:focus {
  color: #fff;
  transition: color .1s ease-in;
}

footer[role=contentinfo],
.footnotes,
.comments,
aside[role=complementary] {
  font-family: 'Clear Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: hsl(204, 20%, 75%);
}

aside[role=complementary] {
  border-bottom: 1px dotted #eee;
  padding: 26px;
}

.footnotes a,
.footnotes a:visited,
aside[role=complementary] a,
aside[role=complementary] a:visited {
  color: hsl(204, 20%, 75%);
}

.footnotes a:hover,
.footnotes a:focus,
aside[role=complementary] a:hover,
aside[role=complementary] a:focus {
  color: hsl(204, 40%, 55%);
}

.footnotes a:active,
aside[role=complementary] a:active {
  color: hsl(204, 50%, 65%);
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 26px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Clear Sans', Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  margin-top: 72px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: -13px;
  color: rgb(0, 113, 188);
}

h3 {
  font-size: 18px;
  margin-bottom: -26px;
  text-transform: uppercase;
}

a {
  color: hsl(204, 100%, 30%);
}

a:visited {
  color: hsl(204, 30%, 60%);
}

a:hover,
a:focus {
  color: hsl(204, 80%, 50%);
  transition: color .1s ease-in;
}

a:active {
  color: hsl(204, 90%, 60%);
}

pre {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  color: #000;
  padding: 14px 15px;
  margin: 26px 0;
  line-height: 16px;
}

pre, code {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
}

p code {
  background-color: #eee;
  padding: 0 3px;
}

.leader {
  font-size: 26px;
  line-height: 36px;
  color: #333;
}

article footer {
  text-align: center;
  font-style: italic;
}

.photo.right.pull {
  float: right;
  margin: 26px 0 26px 26px;
}

.articles {
  list-style: none;
  margin-left: 0;
  padding-left: 80px;
}

.articles li time {
  float: left;
  margin-left: -80px;
  width: 60px;
  color: hsl(204, 20%, 75%);
}

.landing h2 {
  text-align: center;
}

.landing h3 {
  margin-bottom: 48px;
  font-family: Georgia, serif;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
  text-align: center;
}

.landing h3 em {
  font-family: 'Clear Sans', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
