/* @group Reset */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    :focus {
        outline: 0;
    }
    body {
        line-height: 1;
        color: black;
        background: white;
    }
    ol, ul {
        list-style: none;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    caption, th, td {
        text-align: left;
        font-weight: normal;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content: "";
    }
    blockquote, q {
        quotes: "" "";
    }

/* @end */

body {
    background: #eee;
    text-align: center;
    font: 12px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #444;
}

#cv {
    width: 720px;
    text-align: left;
    margin: 40px auto;
    background: #fff;
    padding: 40px 80px;
    border-top: 6px solid #666;
    border-bottom: 2px solid #666;
    -webkit-box-shadow: #ddd 2px 2px 10px;
}

div.section, div.header {
    margin: 20px 0;
    padding: 0 0 40px 200px;
}

div.section:after, div.header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

div.header {
    padding-left: 0;
}

.column {
    float: left;
    margin-right: 20px;
}

.column.last {
    margin-right: 0;
}

div.header div.column {
    width: 477px;
}

div.header div.last {
    width: 200px;
}

div.section .column {
    width: 160px;
}

li {
    position: relative;
}

h1 {
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    font-weight: bold;
    text-shadow: #eee 1px 1px 1px;
    color: #111;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}

div.section h2 {
    color: #999;
    float: left;
    position: relative;
    margin-left: -200px;
}

h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.header h3 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
}

h4 {
    font-size: 16px;
    margin: -20px 0 20px 0;
}

h5 {
    font-size: 18px;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
}

p {
    margin: 20px 0;
}

li p {
    padding: 0 0 20px 0;
}

li.last p {
    border-bottom: none;
}

p.leader {
    font-size: 16px;
}

#pdf, #pdf a:visited {
    display: block;
    background: #444;
    color: #eee;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 0 0 -10px;
    font-weight: normal;
    text-shadow: #000 1px 1px 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#pdf:hover {
    background: #666;
    color: #fff;
}

#pdf:active, #pdf:focus {
    background: #888;
}

a {
    color: #22f;
}

a:visited {
    color: #99f;
}

a:hover {
    color: #66f;
}

a:focus, a:active {
    color: #ccf;
}

abbr {
    font-size: 87.5%;
    letter-spacing: 2px;
    text-transform: uppercase;
}