/*
 * Stylesheet for <%= @site.config[:site][:title] %>
 *
 * DESCRIPTION
 *
 * This file serves up all the styles for the entire website, including
 * styles for screen and print media types and browser-specific hacks.
 *
 * CREDITS
 *
 * Author: <%= @site.config[:site][:author] %> <<%= @site.config[:site][:author_email] %>>
 * Date: <%= @item.mtime.strftime('%Y-%m-%d') %>
 *
 * TABLE OF CONTENTS
 *
 * #001. Screen styles
 *       #001.a Reset
 *       #001.b Page layout
 *       #001.c Headers
 *       #001.d Generic typography
 *       #001.e Lists
 *       #001.f Tables
 *       #001.g Forms
 *       #001.h Images
 *       #001.i Syntax highlighting
 * #002. Print syles
 *       #002.a Page layout
 *       #002.b Typography
 *       #002.c Links
 *       #002.d Images
 * #003. Browser-specific hacks
 * #004. Mobile device styles
 */

/*
 * #001: Screen styles
 */
@media screen {

    /*
     * #001.a: Reset
     *
     * Mostly by Eric Meyer. See:
     *
     * - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
     * - http://html5doctor.com/html-5-reset-stylesheet/
     * - http://www.aestheticallyloyal.com/public/optimize-legibility/
     * - http://maxvoltar.com/archive/-webkit-font-smoothing
     * - http://people.opera.com/patrickl/experiments/keyboard/test
     * - http://www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
     * - http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
     */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
    blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
    font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
    tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }
    p, table, fieldset, ol, ul, dl, pre, h1, h2, h3, h4, h5, h6, blockquote {
        margin: 20px 0;
    }
    a:hover, a:active {
        outline: none;
    }
    body {
        background: white;
        color: black;
        font-family: sans-serif;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
    ol, ul {
        list-style: none;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    caption, th, td {
        font-weight: normal;
        text-align: left;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content: "";
        content: none;
    }
    blockquote, q {
        quotes: none;
    }
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }
    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }
    del {
        text-decoration: line-through;
    }
    abbr[title], dfn[title], acronym[title] {
        border-bottom: 1px dotted #ccc;
        cursor: help;
    }
    abbr, acronym {
        font-size: 85%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    hr {
        border-top: 1px solid #ccc;
        border: 0;
        display: block;
        height: 1px;
        margin: 20px 0;
        padding: 0;
    }
    input, select {
        vertical-align: middle;
    }
    body, select, input, textarea {
        color:#333;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: Cambria, Georgia, serif;
        text-rendering: optimizeLegibility;
    }
    html {
        -webkit-font-smoothing: antialiased;
        overflow-y: scroll;
    }
    sub {
        vertical-align: sub;
        font-size: smaller;
    }
    sup {
        vertical-align: super;
        font-size: 10px;
        line-height: 0;
    }
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
    pre {
        padding: 0 15px;
        font-size: 12px;
        word-wrap: break-word;  /* IE */
    }
    pre, code, kbd, samp {
        font-family: monospace, sans-serif;
    }
    input[type="radio"] {
        vertical-align: text-bottom;
    }
    input[type="checkbox"] {
        vertical-align: bottom;
        *vertical-align: baseline;
    }
    .ie6 input {
        vertical-align: text-bottom;
    }
    label, input[type="button"], input[type="submit"], button {
        cursor: pointer;
    }
    button {
        width: auto;
        overflow: visible;
    }
    img {
        -ms-interpolation-mode: bicubic;
    }

    /*
     * #001.b: Page layout
     */
    #page {
        margin: 0 auto;
        text-align: left;
        width: 500px;
    }
    #title {
        background: #0071BC;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        color: #fff;
        display: block;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        zoom: 1;
        margin: 0 -10px;
        padding: 40px 10px 20px;
        text-decoration: none;
        text-shadow: rgba(0,0,0,.25) 1px 1px 1px;
    }
    #title:active {
        padding: 41px 9px 19px 11px;
        text-shadow: rgba(0,0,0,.5) 0px 0px 2px;
    }
    #title small {
        font-family: Cambria, Georgia, serif;
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
        text-shadow: none;
    }
    header p {
        color: #ccc;
        font-size: 28px;
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .inside header p {
        font-size: 13px;
        line-height: 20px;
    }
    .error header p, .error footer .col {
        display: none;
    }
    .error #title {
        background: #900;
    }
    .error h1, .error strong {
        color: #900;
    }
    header strong {
        color: #999;
    }
    header hr {
        display: none;
    }
    footer:after,
    .autoclear:after {
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
    footer,
    .autoclear { display: inline-block; }
    /* start commented backslash hack \*/
    * html footer, * html .autoclear { height: 1%; }
    footer, .autoclear { display: block; }
    /* close commented backslash hack */

    #cse-search-box {
        background: #f9f9f9;
        border: 1px dotted #ccc;
        border-width: 1px 0;
        color: #666;
        font-size: 11px;
        margin: 40px 10px 20px;
        padding: 10px;
        position: relative;
        text-align: center;
    }
    footer {
        margin: 0 0 40px -20px;
        position: relative;
    }
    footer .col {
        display: inline;
        float: left;
        margin-left: 20px;
        width: 153px;
    }
    footer ul, footer p {
        font-size: 11px;
        color: #666;
        margin: 0;
        list-style: none;
    }
    footer h6 {
        margin: 0 0 10px;
    }

    /*
     * #001.c: Headers
     */
    h1 {
        color: #0071BC;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
    }
    h2 {
        color: #333;
        font-size: 18px;
        font-weight: bold;
    }
    h2.inverted {
        font-weight: normal;
    }
    h3 {
        font-size: 13px;
        font-weight: bold;
        margin: 30px 0 -10px;
    }
    h4 {
        color: #666;
        font: bold 12px/20px sans-serif;
        margin-bottom: -20px;
        text-transform: uppercase;
    }

    /*
     * #001.d: Generic typography
     */
    a {
        color: #0071BC;
    }
    a:visited {
        color: #8aaec6;
    }
    a:focus, a:hover {
        color: #eda556;
    }
    a:active {
        color: #a6733c;
    }
    blockquote {
        margin: 20px;
        font-family: Cambria, Georgia, serif;
        font-style: italic;
    }
    p.meta, article footer {
        color: #999;
        font-size: 11px;
        margin: -10px 0 30px;
    }
    p.leader {
        font-size: 16px;
        color: #666;
        line-height: 30px;
    }
    p.summary {
        color: #888;
    }

    p.summary abbr {
        font-weight: bold;
        border: none;
        color: #444;
    }

    /*
     * #001.e: Lists
     */
    ol, ul {
        margin: 20px;
    }
    ol ol, ul ul, ul ol, ol ul {
        margin: 0 20px;
    }
    ol {
        list-style: decimal;
    }
    ul {
        list-style: square;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 0 20px;
    }
    ul.posts {
        list-style: none;
        margin: 20px 0;
        padding-left: 6em;
        position: relative;
    }
    ul.posts a {
        font-weight: bold;
    }
    ul.posts time {
        position: absolute;
        left: 0;
        font-size: 11px;
        color: #999;
    }
    .footnotes {
        color: #888;
        font-size: 11px;
        border-top: 1px solid #ccc;
        width: 30%;
    }
    .footnotes ol {
        width: 300%;
    }
    .footnotes p {
        margin: 0;
    }

    /*
     * #001.f: Tables
     */
    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 3px 10px 2px;
    }
    th {
        font-weight: bold;
    }
    thead th {
        border-bottom: 2px solid #ccc;
    }
    tfoot th {
        border-top: 2px solid #ccc;
    }
    tbody th, tbody td {
        border-top: 1px solid #eee;
    }
    tbody tr:first-child th, tbody tr:first-child td {
        border-top: none;
    }
    caption {
        font-size: 11px;
        color: #999;
    }

    /*
     * #001.g: Forms
     */

    /*
     * #001.h: Images
     */
    div.photo.left, img.left {
        float: left;
        margin: 20px 20px 20px 0;
    }
    div.photo.right, img.right {
        float: right;
        margin: 20px 0 20px 20px;
    }
    div.photo.full, img.full {
        clear: both;
        display: block;
        margin: 20px auto;
        text-align: center;
    }
    div.photo.bordered img, img.bordered {
        border: 1px solid #111;
    }
    div.photo p {
        margin: 0;
        font-size: 11px;
        color: #999;
    }
    img.avatar {
        width: 64px;
        height: 64px;
        border: 1px solid #111;
        float: left;
        margin: 0 20px 20px 0;
        box-shadow: rgba(0,0,0,.25) 2px 2px 2px;
        -webkit-box-shadow: rgba(0,0,0,.25) 2px 2px 2px;
        -moz-box-shadow: rgba(0,0,0,.25) 2px 2px 2px;
    }
    div.photo.right.pull, img.photo.right.pull {
        position: relative;
        margin-right: -175px;
    }
    div.photo.left.pull, img.photo.left.pull {
        position: relative;
        margin-left: -175px;
    }

    /*
     * #001.i: Syntax highlighting
     */
    pre code, pre code .il {
        color: #111;
    }
    pre code .c {
        color: #0066FF;
        font-style: italic;
    }
    pre code .kw, pre code .r {
        color: #0000FF;
        font-weight: bold;
    }
    pre code .s, pre code .rx, pre code .sh, pre code .idl {
        color: #036A07;
    }
    pre code .lv {
        color: #318495;
    }
    pre code .sy {
        color: #C5060B;
        font-weight: bold;
    }
    pre code .cr {
        color: #C5060B;
        font-weight: bold;
    }
    pre code .ke {
        color: #6D79DE;
        font-weight: bold;
    }
    pre code .vl {
        color: #06960E;
        font-weight: bold;
    }
    pre code .co, pre code .pc {
        color: #585CF6;
        font-weight: bold;
    }
    pre code .ta {
        font-weight: bold;
        color: #1C02FF;
    }
    pre code .an {
        color: #1C02FF;
        font-style: italic;
    }
    pre code .ty {
        font-weight: bold;
    }
    pre code .cl {
        font-style: italic;
    }
}

/*
 * #002: Print styles
 */
@media print {
    /*
     * #002.a: Page layout
     */
    @page {
        margin: 1cm;
    }
    #secondary, #tertiary, #nav, form, #global_navigation {
        display: none;
    }

    /*
     * #002.b: Typography
     */
    body {
        font: 12pt/16pt Cambria, Georgia, Times, Times New Roman, serif;
        color: #333;
    }
    p, table, fieldset, ol, ul, dl, pre, h1, h2, h3, h4, h5, h6, blockquote {
        margin: 16pt 0;
    }
    pre, blockquote, img {
        page-break-inside: avoid;
    }
    p, h2, h3, h4, h5, h6 {
        orphans: 3;
        widows: 3;
    }
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    /*
     * #002.c: Links
     */
    a:link, a:visited {
        color: #333;
        text-decoration: none;
    }
    #content a:link, #content a:visited {
        border-bottom: 1px dotted #333;
    }

    /*
     * #002.d: Images
     */
    img.left {
        float: left;
        margin: 16pt;
    }
    img.right {
        float: right;
        margin: 16pt;
    }
    img.full {
        display: block;
        margin: 16pt auto;
        text-align: center;
    }
}

/*
 * #003: Browser-specific hacks
 *
 * The following rules are meant to fix cross-browser compatibility issues.
 *
 * Conditional comments have applied some special classes to the HTML element,
 * such as .ie6, .ie7, .ie8 and .ie9.
 */
.ie6 ul.posts time {
    left: -75px;
}


/*
 * #004: Mobile devices styles
 *
 * These follow after primary styles so they will successfully override.
 */
@media screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }
    #page {
        text-align: left;
        width: 100%;
        padding: 0 15px;
    }
    #title {
        border-radius: 0;
        margin: 0 -15px;
        padding: 20px 10px;
    }
    #cse-search-box {
        margin: 40px -15px 20px;
        padding: 10px 15px;
    }
    footer div.col {
        width: 45%;
    }
    footer p.col {
        width: auto;
        padding: 20px 0;
    }
}
