/* @override http://localhost:4000/assets/screen.css */

/* @group Reset */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	:focus {
		outline: 0;
	}
	body {
		line-height: 1;
		color: black;
		background: white;
	}
	ol, ul {
		list-style: none;
	}
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	caption, th, td {
		text-align: left;
		font-weight: normal;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: "";
	}
	blockquote, q {
		quotes: "" "";
	}

/* @end */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1.8em;
    color: #333;
    text-align: center;
}

#site {
	width: 500px;
	text-align: left;
	margin: 40px auto;
	position: relative;
}

#content {
    font-size: 13px;
    line-height: 20px;
    margin: 40px 0;
    position: relative;
}

#header hr, #footer hr {
	display: none;
}

/* @group Sidebar */


	#sidebar {
		background: #f6f6f6;
		padding: 10px;
		-webkit-border-radius: 5px;
		color: #999;
		width: 125px;
		position: absolute;
		right: -200px;
		top: -20px;
	}
	
	#sidebar h4 {
		color: #fff;
		background: #ccc;
		margin: 0 -12px;
		padding: 0 12px;
		-webkit-border-radius: 3px;
		text-shadow: #999 1px 1px 1px
	}
	
	#sidebar a {
		color: #999;
	}
	
	#sidebar a:visited {
		color: #bbb;
	}
	
	#sidebar a:hover {
		color: #666;
	}
	
	#sidebar a:focus,
	#sidebar a:active {
		color: #222;
	}

/* @end */

/* @group Footer */

	#footer {
		border-top: 2px solid #0071bc;
		margin: 80px 0 40px;
		padding: 18px 0 0;
		font-size: 12px;
	}
	
	#footer, #footer h4 {
		color: #aaa;
	}
	
	#footer a, #footer a:visited {
		color: #999;
		font-weight: normal;
		
	}
	
	#footer a:hover {
		color: #666;
		text-decoration: underline;
	}
	
	#footer a:focus,
	#footer a:active {
		color: #333;
	}
	
	#footer li {
		float: left;
		width: 146px;
		margin-left: 20px;
	}
	
	#footer ul {
		margin-left: -20px;
		overflow: auto;
	}
	
	#footer ul ul {
		margin-left: -15px;
	}
	
	#footer li li:before {
		content: "\00bb";
		padding-right: 8px;
		color: #ccc;
	}
	
	#footer li li {
		margin: 0;
		float: none;
	}
	
	#footer p {
		text-align: center;
		clear: both;
	}
	
	#footer li p {
		margin: 0;
		text-align: left;
	}

/* @end */

/* @group Links */
    a {
        color: #0071bc;
        text-decoration: none;
        font-weight: bold;
    }

    a:visited {
        color: #f00;
    }

    a:hover {
        color: #c33;
    }

    a:active,.a:focus {
        color: #000;
    }

/* @end */

/* @group Headers */

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: Cambria, Georgia, sans-serif;
		color: #222;
	}

    h1 {
		font-weight: bold;
		color: #0071bc;
        font-size: 18px;
        margin: 20px 0;
    }

    h2 {
        font-size: 18px;
        margin: 30px 0 -10px;
    }

    h3 {
        font-size: 14px;
        margin:  20px 0 0;
    }
    
    h4 {
		font: bold 12px/20px Helvetica, Arial, sans-serif;
		margin: 0;
		font-size: 12px;
	}
	
	h5 {
		font-style: italic;
		font-weight: normal;
		margin: 20px 0 0 0;
	}
	
	h6 {
		font-size: 11px;
		margin: 0;
	}

/* @end */

/* @group Block-level styles */

    p {
        margin: 20px 0;
    }
    
    p.leader {
		font-weight: bold;
		color: #555;
	}
	
	p.meta {
		color: #aaa;
	}
	
	#title a {
		position: absolute;
		display: block;
		top: -40px;
		left: -20px;
		padding: 30px 20px 10px;
		background: #0071bc;
		color: #fff;
		font-size: 24px;
		font-family: Cambria, Georgia, sans-serif;
		text-transform: lowercase;
		width: 225px;
		color: #fff;
	}
	
	#title small {
		font: italic 16px/20px Cambria, Georgia, serif;
		margin: 0 0 0 5px;
	}
	
	#nav {
		display: none;
	}
	
	#tagline {
		margin: 0 -40px 0 300px;
		letter-spacing: 0;
		font: normal 14px/20px Helvetica Neue, Arial, sans-serif;
		color: #ccc;
	}

	.frontpage #tagline {
		margin: 0;
		font: bold 28px/36px Helvetica Neue, Arial, sans-serif;
		letter-spacing: -1px;
		padding: 40px 0 0 0;
	}
	
    blockquote {
        margin: 0 20px;
        color: #666;
    }

    blockquote > *:first-child:before {
        content: "\201C";
        display: block;
        font-size: 2.5em;
        margin: 1em 0 -.5em -.62em;
        font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
        padding-right: .2em;
        color: #aaa;
        line-height: 0;
    }

    .safari blockquote > *:first-child:before {
        margin: .9em 0 -.9em -.62em;
    }

    pre {
        white-space: pre;
        background: #f6f6f6;
        color: #888;
        padding: 10px;
        margin: 20px 0;
        -webkit-border-radius: 5px;
    }

/* @end */

/* @group Inline styles */
    q {
        quotes:"\201C""\201D""\2018""\2019";
    }

    q:before {
        content:'\201C';
    }

    q:after {
        content:'\201D';
    }

    q q:before {
        content:'\2018';
    }

    q q:after {
        content:'\2019';
    }

    strong, th, thead td, dt {
        font-weight:bold;
    }

    cite, em, dfn {
        font-style: italic;
    }

    code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], textarea {
        font-size: 100%;
        font-family: Consolas, Lucida Console, Monaco, monospace;
    }

    sub {
        vertical-align: sub;
    }

    sup {
        vertical-align: super;
    }

    abbr, acronym {
        text-transform:uppercase;
        font-size:85%;
        letter-spacing:.1em;
    }

    abbr[title], acronym[title], dfn[title] {
        cursor:help;
        border-bottom:1px solid #ccc;
    }

    del {
        text-decoration: line-through;
        color: #666;
    }

    ins, dfn {
        border-bottom: 1px solid #666;
    }

    small, sup, sub {
        font-size: 85%;
    }
    
    small.dim {
		font-size: inherit;
		color: #ccc;
		font-weight: normal;
	}
	
	small.dim strong {
		color: #999;
		padding: 0 1px;
	}

/* @end */

/* @group Lists */

    #content ul, #content ol {
        margin:  20px;
    }

    #content ul ul, #content ol ol {
        margin:  0 20px;
    }

    #content ul {
        list-style: disc outside;
    }

    #content ol {
        list-style: decimal outside;
    }

    #content dd {
        margin-left: 20px;
    }
/* @end */

/* @group Modules */

	.module {
		position: relative;
	}

	.module .footer {
		font-size: 11px;
		text-align: right;
	}

	/* @group Extra-large modules on the frontpage */

		.module.xl {
			margin: 80px 0;
		}

		.module.xl h2 {
			font: bold 50px/50px Helvetica Neue, Arial, sans-serif;
			margin: 0;
			letter-spacing: -2px;
			color: #ddd;
			text-transform: lowercase;
		}

		.module.xl .header,
		.module.xl .footer {
			position: absolute;
			width: 220px;
			text-align: right;
			right: 520px;
			top: -12px;
		}
		
		.module.xl.alt .header,
		.module.xl.alt .footer {
			text-align: left;
			left: 500px;
		}

		.module.xl .footer {
			top: auto;
			bottom: 0;
		}
		
		.module.xl .body {
			min-height: 120px;
		}
		
		.module.xl .body:after {
			content: ".";
			clear: both;
			height: 0px;
			visibility: hidden;
			display: block;
		}

	/* @end */
	
	/* @group Subscribe module */
	
		#subscribe_module {
			margin: 0 0 20px 0;
		}
		
		#subscribe_module .header, #subscribe_module .footer {
			display: none;
		}
		
		#subscribe_module a {
			display: block;
			background: url(/assets/feed.png) no-repeat 5px 7px;
			margin: -5px;
			padding: 8px 5px 7px 45px;
			line-height: 15px;
			text-shadow: #eee 1px 1px 1px;
		}
		
		#subscribe_module a:hover {
			background-color: #e6e6e6;
			-webkit-border-radius: 3px;
		}
	
	/* @end */

	/* @group Twitter module */
	
		#twitter_module li {
			margin: 10px 0;
			font-size: 11px;
			line-height: 16px;
		}
		
		#twitter_module ul {
			margin: 0;
			list-style: none;
		}

		.frontpage #twitter_module .body {
			min-height: 175px;
		}
		
		.frontpage #twitter_module li {
			margin: 20px 0;
			font-size: 12px;
			line-height: 20px;
		}
		
		.frontpage #twitter_module span {
			background: #eee;
			display: block;
			padding: 5px;
			-webkit-border-radius: 5px
		}
		
		.frontpage #twitter_module .body a {
			display: block;
			padding: 5px 25px;
		}
		
		.frontpage #twitter_module li:nth-child(2) {
			opacity: .75;
		}

		.frontpage #twitter_module li:nth-child(3) {
			opacity: .5;
		}
	
	/* @end */

	/* @group Flickr module */

		#flickr_module .flickr_badge_image {
			width: 87px;
			float: left;
			margin-right: 11px;
		}

		#flickr_module #flickr_badge_image1 {
			width: 320px;
			margin-right: 10px;
		}

		#flickr_module #flickr_badge_image2,
		#flickr_module #flickr_badge_image3 {
			width: 150px;
			margin-bottom: 10px;
		}

		#flickr_module .flickr_badge_image a {
			border: 1px solid #333;
			display: block;
			position: relative;
			padding-bottom: 66%;
			height: 0;
			opacity: .75;
		}
		
		#flickr_module .flickr_badge_image a:hover {
			opacity: 1;
		}
		
		#flickr_module .flickr_badge_image img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	/* @end */
	
	/* @group Archives module */
	
		#archives_module ol {
			list-style: none;
			margin: 0 0 0 -20px;
			font-size: 18px;
		}
		
		#archives_module span {
			display: block;
			font-size: 11px;
			color: #999;
		}
		
		#archives_module li {
			position: relative;
			margin: 0 0 20px 20px;
			width: 240px;
			float: left;
		}
		
		#archives_module .body a {
			display: block;
			margin: -25px -5px -5px -5px;
			padding: 25px 5px 5px 5px;
			-webkit-border-radius: 5px;
		}
		
		#archives_module .body a:hover {
			background: #f6f6f6;
		}
		
		#archives_module li:nth-child(2n+1) {
			clear: left;
		}
	/* @end */

/* @end */
