<article>
    <header>
        <h1><%= @item[:title] %></h1>
    </header>
    <footer>
        Published at <%= published_at @item %> &bull;
        Tagged <%= tags @item %><br>
        <%= next_article(@item) %>
        <%= previous_article(@item) %>
    </footer>

    <% if @item[:tldr] %>
    <p class="summary">
        <abbr title="Too Long, Didn&rsquo;t Read" class="tldr">tl;dr</abbr>:
        <% filter :typogruby do %>
        <%= @item[:tldr] %>
        <% end %>
    </p>
    <% end %>

    <%= yield %>
</article>