<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="nl" class="ie6"> <![endif]-->
<!--[if (gte IE 7)|!(IE)]><!--> <html lang="nl"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= @item[:title] %> &bull; <%= @site.config[:site][:title] %></title>
        <meta name="keywords" content="<%= (t = @item[:tags] and t.join(', ')) || @item[:keywords] || @site.config[:site][:keywords] %>">
        <meta name="description" content="<%= @item[:description] || @site.config[:site][:description] %>">
        <meta name="copyright" content="<%= @site.config[:site][:copyright] %>">
        <meta name="author" content="<%= @site.config[:site][:author] %>">
<%= openid('avdgaag.myopenid.com') %>
        <link rel="alternate" title="arjanvandergaag.nl Atom feed"  type="application/atom+xml" href="/feed/">
        <link rel="stylesheet" href="<%= cache_busted('/assets/styles.css') %>">
        <link href="<%= cache_busted('/assets/favicon.png') %>" rel="shortcut icon">
        <% if @site.config[:site][:tracking_code] %>
        <script>
            var _gaq = [['_setAccount', '<%= @site.config[:tracking_code] %>'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = true;
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            })(document, 'script');
        </script>
        <% end %>
        <script src="/assets/modernizr-1.5.min.js"></script>
    </head>
    <body class="<%= @item[:body_class] %>">

        <div id="page">

            <header>

                <a href="/" title="Back to the front page" rel="home" accesskey="h" id="title">Arjan van der Gaag <small>.nl</small></a>

                <p><%= @site.config[:site][:tagline] %></p>

                <hr>

            </header>

            <div id="content">

                <%= yield %>

            </div><!-- /content -->

            <footer>

                <form action="http://www.google.com/cse" id="cse-search-box">
                    <div>
                        <label for="google-search-box">Search this site:</label>
                        <input type="hidden" name="cx" value="013424593838246409070:wnaxfzkihdk">
                        <input type="hidden" name="ie" value="UTF-8">
                        <input type="search" name="q" size="31" id="google-search-box">
                        <input type="submit" name="sa" value="Search">
                    </div>
                </form>

                <% if (links = @site.config[:elsewhere]).any? %>
                <div class="col">
                    <h6>Find me elsewhere</h6>
                    <ul>
                        <% links.each do |link| %>
                        <li><a href="<%= link[:url] %>" title="<%= link[:title] %>" rel="external me"><%= link[:text] %></a></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>

                <% if (links = @site.config[:other_sites]).any? %>
                <div class="col">
                    <h6>More of my sites</h6>
                    <ul>
                        <% links.each do |link| %>
                        <li><a href="<%= link[:url] %>" title="<%= link[:title] %>" rel="external me"><%= link[:text] %></a></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>

                <p class="col"><%= @site.config[:site][:copyright] %></p>

            </footer>

        </div><!-- /page -->

        <script src="http://www.google.com/jsapi"></script>
        <script>google.load("elements", "1", {packages: "transliteration"});</script>
        <script src="http://www.google.com/coop/cse/t13n?form=cse-search-box&amp;t13n_langs=en"></script>
        <script src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

    </body>
</html>