---
services:
  - name:   Twitter
    url:    'http://twitter.com/avdgaag'
    title:  Follow my updates on Twitter
  - url:    http://linkedin.com/avdgaag
    title:  My professional profile on LinkedIn
    name:   LinkedIn
  - url:    http://digg.com/avdgaag
    title:  Sites that I like on Digg
    name:   Digg
  - url:    http://github.com/avdgaag
    title:  Code that I share on Github
    name:   Github
  - url:    http://flickr.com/users/arjanvandergaag
    title:  My photos on Flickr
    name:   Flickr
  - title:  My bookmarks on Delicious
    name:   Delicious
    url:    http://delicious.com/arjanvandergaag
  - url:    http://last.fm/user/surtur
    title:  My music on Last.fm
    name:   Last.fm
sites:
  - title:  My history weblog
    url:    http://pasttense.nl
    name:   the Past Tense
  - title:   My web development company website
    url:    http://agwebdesign.nl
    name:   AG Webdesign
  - title:  My Dutch cooking website
    url:    http://yummyinmytummy.nl
    name:   Yummy in my Tummy!
  - title:  My personal blog
    url:    http://arjanvandergaag.nl
    name:   Arjan van der Gaag.nl
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="ltr">
    <head profile="http://gmpg.org/xfn/1">
        <title>{{ page.title }}</title>

        <!-- Meta-rubbish -->
        <meta name="keywords" content="{{ page.keywords }}, Arjan van der Gaag, arjan, gaag">
        <meta name="description" content="{{ page.description }}">
        <meta name="copyright" content="(c) copyright Arjan van der Gaag">
        <meta name="author" content="Arjan van der Gaag">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en-GB">
        <meta name="robots" content="index, follow">

        <!-- Stylesheets, feed, favicon -->
        <link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/assets/print.css" type="text/css" media="print">
        <link rel="alternate" type="application/atom+xml" title="Arjanvandergaag.nl Atom Feed" href="/atom.xml">
        <link href="/assets/favicon.png" rel="icon" type="image/png">
        <!--[if IE]>
        <link rel="stylesheet" href="/assets/ie.css" type="text/css" media="screen, projection">
        <![endif]-->

        <!-- OpenID -->
        <link rel="openid.server" href="http://www.myopenid.com/server">
        <link rel="openid.delegate" href="http://avdgaag.myopenid.com/">
        <link rel="openid2.local_id" href="http://avdgaag.myopenid.com/">
        <link rel="openid2.provider" href="http://www.myopenid.com/server">
        <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=avdgaag.myopenid.com">
    </head>
    {% if page.id %}
    <body class="{{ page.type }}">
    {% else %}
    <body class="page {{ page.type }}">
    {% endif %}
        <div id="site">
            <header>
                <div id="branding">
                    <div id="title"><a href="/" title="Return to the home page" rel="home">Arjan van der Gaag<small>.nl</small></a></div>
                    <div id="tagline">I&rsquo;m Arjan van der Gaag and this is my website about me, code, food, photography and more. If you like, we can <a href="mailto:&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x40;&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x76;&#x61;&#x6E;&#x64;&#x65;&#x72;&#x67;&#x61;&#x61;&#x67;&#x2E;&#x6E;&#x6C;" title="Get in touch with me." rel="help">get in touch</a>.</div>
                </div><!-- /branding -->
                <hr>
            </header>
            <article>
                    {{ content }}
            </article>
            <footer>
                <hr>

                <form action="http://www.google.com/cse" id="cse-search-box">
                    <div>
                        <label for="google-search-box">Search this site:</label>
                        <input type="hidden" name="cx" value="013424593838246409070:wnaxfzkihdk">
                        <input type="hidden" name="ie" value="UTF-8">
                        <input type="text" name="q" size="31" id="google-search-box">
                        <input type="submit" name="sa" value="Search">
                    </div>
                </form>

                <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                <script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
                <script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&amp;t13n_langs=en"></script>
                <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

                <nav>
                    <ul>
                        <li>
                            <h4>Elsewhere</h4>
                            <ul>
                            {% for service in page.services %}
                                <li><a href="{{ service.url }}" title="{{ service.title }}" rel="external me">{{ service.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <h4>Sites</h4>
                            <ul>
                            {% for site in page.sites %}
                                <li><a href="{{ site.url }}" title="{{ site.title }}" rel="external me">{{ site.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <h4>About me</h4>
                            <p>Arjan van der Gaag is a Dutch web developer and historian.<br><a href="mailto:&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x40;&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x76;&#x61;&#x6E;&#x64;&#x65;&#x72;&#x67;&#x61;&#x61;&#x67;&#x2E;&#x6E;&#x6C;" title="Send me an e-mail">arjan@arjanvandergaag.nl</a></p>
                        </li>
                    </ul>
                </nav>
                <p>&copy; copyright 2009 Arjan van der Gaag unless noted otherwise.</p>
            </footer>
        </div><!-- /site -->

        <!-- Last modified at {{ site.time }} -->

        {% include google-analytics.html %}

    </body>
</html>