<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="ltr">
    <head profile="http://gmpg.org/xfn/1">
        <title>{{ page.title }}</title>

        <!-- Meta-rubbish -->
        <meta name="keywords" content="{{ page.keywords }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="copyright" content="(c) copyright Arjan van der Gaag">
        <meta name="author" content="Arjan van der Gaag">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en-GB">
        <meta name="robots" content="index, follow">

        <!-- Stylesheets, feed, favicon -->
        <link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/assets/print.css" type="text/css" media="print">
        <link rel="alternate" type="application/atom+xml" title="Arjanvandergaag.nl Atom Feed" href="/atom.xml">
        <link href="/assets/favicon.png" rel="icon" type="image/png">

        <!-- OpenID -->
        <link rel="openid.server" href="http://www.myopenid.com/server">
        <link rel="openid.delegate" href="http://avdgaag.myopenid.com/">
        <link rel="openid2.local_id" href="http://avdgaag.myopenid.com/">
        <link rel="openid2.provider" href="http://www.myopenid.com/server">
        <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=avdgaag.myopenid.com">
    </head>
    <body class="{{ page.kind }}">
        <div id="site">
            <div id="header">
                <div id="branding">
                    <div id="title"><a href="/" title="Return to the home page" rel="home">Arjan van der Gaag<small>.nl</small></a></div>
                    <div id="tagline">I&rsquo;m Arjan van der Gaag and this is my website about me, code, food, photography and more. If you like, we can <a href="mailto:&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x40;&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x76;&#x61;&#x6E;&#x64;&#x65;&#x72;&#x67;&#x61;&#x61;&#x67;&#x2E;&#x6E;&#x6C;" title="Get in touch with me." rel="help">get in touch</a>.</div>
                </div><!-- /branding -->
                <hr>
            </div><!-- /header -->
            <div id="content">
                <div id="main">
                    {{ content }}
                </div><!-- /main -->
            </div><!-- /content -->
            <div id="footer">
                <hr>
                <ul>
                    <li>
                        <h4>Elsewhere</h4>
                        <ul>
                            <li><a href="http://twitter.com/avdgaag" title="Follow my updates on Twitter" rel="external">Twitter</a></li>
                            <li><a href="http://linkedin.com/avdgaag" title="My professional profile on LinkedIn" rel="external">LinkedIn</a></li>
                            <li><a href="http://digg.com/avdgaag" title="Sites that I like on Digg" rel="external">Digg</a></li>
                            <li><a href="http://github.com/avdgaag" title="Code that I share on Github" rel="external">Github</a></li>
                            <li><a href="http://flickr.com/users/arjanvandergaag" title="My photos on Flickr" rel="external">Flickr</a></li>
                            <li><a href="http://delicious.com/arjanvandergaag" title="My bookmarks on Delicious" rel="external">Delicious</a></li>
                            <li><a href="http://last.fm/user/surtur" title="My music on Last.fm" rel="external">Last.fm</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>Sites</h4>
                        <ul>
                            <li><a title="My history weblog" href="http://pasttense.nl" rel="external me">the Past Tense</a></li>
                            <li><a title="My web development company website" href="http://agwebdesign.nl" rel="external me">AG Webdesign</a></li>
                            <li><a title="My Dutch cooking website" href="http://yummyinmytummy.nl" rel="external me">Yummy in my Tummy!</a></li>
                            <li><a title="My personal blog" href="http://arjanvandergaag.nl" rel="external me">Arjan van der Gaag.nl</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>About me</h4>
                        <p>Arjan van der Gaag is a Dutch web developer and historian.<br><a href="mailto:&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x40;&#x61;&#x72;&#x6A;&#x61;&#x6E;&#x76;&#x61;&#x6E;&#x64;&#x65;&#x72;&#x67;&#x61;&#x61;&#x67;&#x2E;&#x6E;&#x6C;" title="Send me an e-mail">arjan@arjanvandergaag.nl</a></p>
                    </li>
                </ul>
                <p>&copy; copyright 2009 Arjan van der Gaag unless noted otherwise.</p>
            </div><!-- /footer -->
        </div><!-- /site -->
    </body>
</html>