<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="ltr">
    <head profile="http://gmpg.org/xfn/1">
        <title>{{ page.title }}</title>

        <!-- Meta-rubbish -->
        <meta name="keywords" content="{{ page.keywords }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="copyright" content="(c) copyright Arjan van der Gaag">
        <meta name="author" content="Arjan van der Gaag">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en-GB">
        <meta name="robots" content="index, follow">

        <!-- Stylesheets, feed, favicon -->
        <link rel="stylesheet" href="/assets/essay.css" type="text/css" media="screen, projection, print">
        <link href="/assets/favicon.png" rel="icon" type="image/png">
    </head>
    <body>
        <div id="site">
            <header>
                <p>This article was written by Arjan van der Gaag and is &copy; copyrighted. Please do not reproduce without permission. Do not quote. <a href="/writings" title="Go to the index of all my writings" rel="index">Find more writings</a> or <a href="/" title="Get back to my website" rel="home">return to the home page</a>.</p>
                <hr>
            </header>
            <article>
                {{ content }}
            </article>
        </div><!-- /site -->

        <!-- Last modified at {{ site.time }} -->

        {% include google-analytics.html %}
    </body>
</html>